body{background-color:white;
}
#container{
   margin : 20px auto;
   background-color: white;
   height: 479px;
   width : 700px;
   border-radius: 5px;
   box-shadow: 0px 5px 15px 0px;
   position: relative;
}
#start{
   font-size: 1.5em;
   font-weight: bolder;
   word-break: break-all;
   width:100px;
   height:31px;
   border : 2px solid lightgrey;
   text-align: center;
   cursor: pointer;
   position: absolute;
   left:300px;
   top:120px;
   background-color:  #3a0a5d;
   color:white;
   
}


#instructions {
   font-size: 23px;
   font-weight:bold;
   text-align: center;
   top:5px

}
#question{
   width:500px;
   height : 125px;
   position: absolute;
   right:0;
   top:0;
}

#choicesA{
   font-size: 1.5em;
   font-weight: bolder;
   word-break: break-all;
   width:181px;
   height:31px;
   border : 2px solid lightgrey;
   text-align: center;
   cursor: pointer;
   position: absolute;
   left:491px;
   top:179px;
   background-color:  #3a0a5d;
   color:white;}
   
   #choicesB{
      font-size: 1.5em;
      font-weight: bolder;
      word-break: break-all;
      width:181px;
      height:31px;
      border : 2px solid lightgrey;
      text-align: center;
      cursor: pointer;
      position: absolute;
      left:491px;
      top:227px;
      background-color:  #3a0a5d;
      color:white;}
      
   #choicesC{
         font-size: 1.5em;
         font-weight: bolder;
         word-break: break-all;
         width:181px;
         height:31px;
         border : 2px solid lightgrey;
         text-align: center;
         cursor: pointer;
         position: absolute;
         left:491px;
         top:273px;
         background-color:  #3a0a5d;
         color:white;}
   
   #choicesD{
            font-size: 1.5em;
            font-weight: bolder;
            word-break: break-all;
            width:181px;
            height:31px;
            border : 2px solid lightgrey;
            text-align: center;
            cursor: pointer;
            position: absolute;
            left:491px;
            top:328px;
            background-color:  #3a0a5d;
            color:white;}
